/*--------------------------------------------------------------
# CTA One
--------------------------------------------------------------*/
.cta-one {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 108px 0 108px;
    background-color: var(--techguru-black);
    z-index: 1;
}

.cta-one__shape-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .20;
    mix-blend-mode: soft-light;
    z-index: -1;
}

.cta-one__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
}

.cta-one__title {
    font-size: 35px;
    color: var(--techguru-white);
    line-height: 1.2em;
    font-weight: 700;
}

.cta-one__contact-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cta-one__contact-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.cta-one__contact-icon span {
    position: relative;
    display: inline-block;
    font-size: 45px;
    color: var(--techguru-white);
}

.cta-one__contact-details {
    position: relative;
    display: block;
    flex: 1;
}

.cta-one__contact-details p {
    font-size: 18px;
    line-height: 18px;
    color: var(--techguru-white);
}

.cta-one__contact-details h4 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 8px;
}

.cta-one__contact-details h4 a {
    background: linear-gradient(90deg, #00D4FF 0%, #FF006E 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cta-one__contact-details h4 a:hover {
    background: linear-gradient(90deg, #FF006E 0%, #00D4FF 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/*--------------------------------------------------------------
# CTA Two
--------------------------------------------------------------*/
.cta-two {
    position: relative;
    display: block;
    z-index: 1;
}

.cta-two__shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .10;
    z-index: -1;
}

.cta-two__shape-1 img {
    width: auto;
}

.cta-two__shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .10;
    z-index: -1;
}

.cta-two__shape-2 img {
    width: auto;
}

.cta-two__bg-color {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #5CB0E9 0%, #3D72FC 100%);
    z-index: -1;
}

.cta-two__left {
    position: relative;
    display: block;
    margin-top: 185px;
}

.cta-two__left .section-title {
    margin-bottom: 32px;
}

.cta-two__left .section-title__tagline {
    background: none;
    -webkit-text-fill-color: var(--techguru-white);
    background-clip: none;
    color: var(--techguru-white);
}

.cta-two__left .section-title__tagline-shape-1 {
    background: linear-gradient(270deg, #ffffff 0%, #ffffff 100%);
}

.cta-two__left .section-title__tagline-shape-2 {
    background: linear-gradient(270deg, #ffffff 0%, #ffffff 100%);
}

.cta-two__btn-box {
    position: relative;
    display: block;
}

.cta-two__btn-box .thm-btn {
    background: linear-gradient(270deg, #ffffff 0%, #ffffff 100%);
    color: var(--techguru-black);
}

.cta-two__right {
    position: relative;
    display: block;
    background-color: #445366;
    margin-left: 18px;
    padding: 38px 50px 40px;
    border-top-right-radius: 12px;
}

.cta-two__right::before {
    content: "";
    position: absolute;
    left: -60px;
    top: 0;
    border-top: 100px solid transparent;
    border-right: 60px solid rgba(68, 83, 102, .67);
}

.cta-two__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: var(--techguru-white);
}

.cta-two__text {
    color: var(--techguru-white);
    margin: 17px 0 30px;
}

.cta-two__list {
    position: relative;
    display: block;
}

.cta-two__list li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 25px;
    border-top: 1px solid rgba(var(--techguru-white-rgb), .24);
    padding-top: 30px;
}

.cta-two__list li+li {
    margin-top: 30px;
}

.cta-two__list li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background: linear-gradient(270deg, #5CB0E9 0%, #3D72FC 100%);
    z-index: 1;
}

.cta-two__list li .icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 12px;
    background: linear-gradient(270deg, #FA5674 0%, #6065D4 100%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
}

.cta-two__list li:hover .icon::before {
    opacity: 1;
}

.cta-two__list li .icon span {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: var(--techguru-white);
}

.cta-two__list li .content {
    position: relative;
    display: block;
    flex: 1;
}

.cta-two__list li .content h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--techguru-white);
    margin-bottom: 4px;
}

.cta-two__list li .content p a {
    color: var(--techguru-gray);
}

.cta-two__list li .content p a:hover {
    color: var(--techguru-base);
}













/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/