/*--------------------------------------------------------------
# Event One
--------------------------------------------------------------*/
.event-one {
    position: relative;
    display: block;
    background-color: var(--techguru-black);
    padding: 140px 0 110px;
    overflow: hidden;
    z-index: 1;
}

.event-one::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--techguru-white-rgb), .05);
    z-index: -1;
}

.event-one__shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    opacity: .20;
    z-index: -1;
}

.event-one__shape-1 img {
    width: auto;
}

.event-one__shape-2 {
    position: absolute;
    top: 0;
    right: -30px;
    mix-blend-mode: screen;
    opacity: .10;
    z-index: -1;
}

.event-one__shape-2 img {
    width: auto;
}

.event-one__shape-3 {
    position: absolute;
    top: 0;
    left: -265px;
    width: 962px;
    height: 964px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #6669D8 0%, rgba(7, 12, 20, 0) 100%);
    opacity: 0.4;
    filter: blur(120px);
    z-index: -1;
}

.event-one__shape-4 {
    position: absolute;
    bottom: 0;
    right: -315px;
    width: 962px;
    height: 964px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(250, 86, 116, 0.63) 0%, rgba(7, 12, 20, 0) 100%);
    opacity: 0.4;
    filter: blur(120px);
    z-index: -1;
}

.event-one__top {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 58px;
}

.event-one__top .section-title {
    margin-bottom: 0;
}

.event-one__top-btn-box {
    position: relative;
    display: block;
    top: -11px;
}

.event-one__bottom {
    position: relative;
    display: block;
}

.event-one__left {
    position: relative;
    display: block;
}

.event-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 40px;
    z-index: 1;
}

.event-one__img img {
    width: 100%;
    border-radius: 40px;
}

.event-one__video-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
}

.event-one__video-link .play-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: var(--techguru-white);
    border-radius: 50%;
    margin: 0 auto 0;
    cursor: pointer;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.event-one__video-link .play-btn::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    background: linear-gradient(270deg, #5CB0E9 0%, #3D72FC 100%);
    z-index: -1;
}

.event-one__video-link .play-btn:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    border: 10px solid transparent;
    background: linear-gradient(90deg, #8F88FF, #5CB0E9) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    visibility: visible;
    opacity: .20;
    z-index: -1;
}

.event-one__video-link .play-btn:hover {
    background-color: var(--techguru-base);
    color: var(--techguru-black);
}

.event-one__video-link .ripple,
.event-one__video-link .play-btn .ripple:before,
.event-one__video-link .play-btn .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0 rgba(var(--techguru-white-rgb), 0.6);
    -o-box-shadow: 0 0 0 0 rgba(var(--techguru-white-rgb), 0.6);
    -webkit-box-shadow: 0 0 0 0 rgba(var(--techguru-white-rgb), 0.6);
    box-shadow: 0 0 0 0 rgba(var(--techguru-white-rgb), 0.6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

.event-one__video-link .play-btn .ripple:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
}

.event-one__video-link .play-btn .ripple:after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
}

.event-one__right {
    position: relative;
    display: block;
    margin-left: 50px;
}

.event-one__single {
    position: relative;
    display: block;
    background-color: #151C30;
    border-radius: 40px;
    margin-bottom: 30px;
    z-index: 1;
}

.event-one__single:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid rgba(var(--techguru-white-rgb), .10);
    border-radius: 40px;
    z-index: -1;
}

.event-one__title-and-countdown-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 30px 30px;
}

.event-one__title {
    position: relative;
    display: block;
}

.event-one__title h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}

.event-one__title h5 a {
    color: var(--techguru-white);
}

.event-one__title h5 a:hover {
    color: var(--techguru-base);
}

.event-one__title p {
    font-size: 16px;
    line-height: 26px;
}

.event-one__countdown-box {
    position: relative;
    display: block;
}

.event-one__countdown-box .timer-box {
    position: relative;
    display: block;
}

.event-one__countdown-box .timer-box .countdown-timer .event-one-countdown {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.event-one__countdown-box .timer-box .countdown-timer li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.event-one__countdown-box .timer-box .countdown-timer li:before {
    content: ":";
    position: absolute;
    top: 10px;
    left: -20px;
    font-size: 20px;
    color: var(--techguru-white);
}

.event-one__countdown-box .timer-box .countdown-timer li:first-child:before {
    display: none;
}

.event-one__countdown-box .timer-box .countdown-timer li .box {
    position: relative;
    display: block;
    text-align: center;
}

.event-one__countdown-box .timer-box .countdown-timer li span.days,
.event-one__countdown-box .timer-box .countdown-timer li span.hours,
.event-one__countdown-box .timer-box .countdown-timer li span.minutes,
.event-one__countdown-box .timer-box .countdown-timer li span.seconds {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: capitalize;
    background: linear-gradient(270deg, #FA5674 0%, #6065D4 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--techguru-font);
}

.event-one__countdown-box .timer-box .countdown-timer li span.timeRef {
    position: relative;
    display: block;
    color: var(--techguru-gray);
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 5px;
}

.event-one__meta-and-btn-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2D384E;
    padding: 17px 30px 17px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid rgba(var(--techguru-white-rgb), .10);
    z-index: 2;
}

.event-one__meta {
    position: relative;
    display: flex;
    align-items: center;
}

.event-one__meta li {
    position: relative;
    display: block;
}

.event-one__meta li+li {
    margin-left: 18px;
}

.event-one__meta li a {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--techguru-gray);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.event-one__meta li a:hover {
    color: var(--techguru-base);
}

.event-one__meta li a span {
    position: relative;
    font-size: 16px;
    margin-right: 6px;
    color: var(--techguru-base);
}

.event-one__btn-box {
    position: relative;
    display: block;
}

.event-one__btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    color: var(--techguru-white);
    font-weight: 500;
    padding: 10px 24px 9px;
    border-radius: 22px;
    overflow: hidden;
    z-index: 1;
}

.event-one__btn:hover {
    color: var(--techguru-black);
}

.event-one__btn:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 35px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #6065D4, #FA5674) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    visibility: visible;
    opacity: 1;
    z-index: -1;
}

.event-one__btn:after {
    position: absolute;
    background-color: var(--techguru-base);
    bottom: 0;
    right: 0;
    content: "";
    width: 50%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    border-radius: 22px;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.event-one__btn:hover:after {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
}





/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/