/*--------------------------------------------------------------
# Skill One
--------------------------------------------------------------*/
.skill-one {
    position: relative;
    display: block;
    background-color: #213152;
    padding: 140px 0 140px;
    z-index: 1;
}

.skill-one__bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .40;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.skill-one__left {
    position: relative;
    display: block;
    margin-right: 140px;
}

.skill-one__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: var(--techguru-white);
}

.skill-one__text {
    font-size: 16px;
    line-height: 24px;
    margin: 25px 0 48px;
}

.skill-one__progress-list {
    position: relative;
    display: block;
    max-width: 520px;
    width: 100%;
}

.skill-one__progress-list li {
    position: relative;
    display: block;
}

.skill-one__progress-list li+li {
    margin-top: 41px;
}

.skill-one__progress {
    position: relative;
    display: block;
}

.skill-one__progress-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: var(--techguru-white);
    margin-bottom: 12px;
}

.skill-one__progress .bar {
    position: relative;
    width: 100%;
    height: 7px;
    border-radius: 4px;
    z-index: 1;
}

.skill-one__progress .bar::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 4px;
    border: .5px solid transparent;
    background: linear-gradient(90deg, #8F88FF, #5CB0E9) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
}

.skill-one__progress .bar-inner {
    position: relative;
    display: block;
    width: 0px;
    height: 7px;
    border-radius: 4px;
    background: linear-gradient(270deg, #5CB0E9 0%, #3D72FC 100%);
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
    z-index: 1;
}

.skill-one__progress .bar-inner::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: linear-gradient(270deg, #5CB0E9 0%, #3D72FC 100%);
    transform: translateY(-50%);
    z-index: 1;
}

.skill-one__progress .count-text {
    position: absolute;
    right: 0;
    bottom: 18px;
    color: var(--techguru-white);
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.skill-one__progress .bar.marb-0 {
    margin-bottom: 0;
}

.skill-one__right {
    position: relative;
    display: block;
}

.skill-one__img {
    position: relative;
    display: block;
}

.skill-one__img img {
    width: 100%;
    border-radius: 40px;
}


/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/