/*--------------------------------------------------------------
# Team One
--------------------------------------------------------------*/
.team-one {
    position: relative;
    display: block;
    padding: 140px 0 40px;
    background-color: var(--techguru-black);
    overflow: hidden;
    z-index: 1;
}

.team-one__shape-1 {
    position: absolute;
    top: 230px;
    left: 145px;
    z-index: -1;
}

.team-one__shape-1 img {
    width: auto;
}

.team-one__shape-2 {
    position: absolute;
    left: -13.8%;
    right: 63.7%;
    top: -17.67%;
    bottom: 19.25%;
    opacity: .30;
    background: radial-gradient(50% 50% at 50% 50%, #6669D8 0%, rgba(7, 12, 20, 0) 100%);
    filter: blur(120px);
    z-index: -1;
}

.team-one__shape-3 {
    position: absolute;
    top: 140px;
    left: 0px;
    mix-blend-mode: screen;
    opacity: .10;
    z-index: -1;
}

.team-one__shape-3 img {
    width: auto;
}

.team-one__shape-4 {
    position: absolute;
    width: 665px;
    height: 695px;
    right: -170px;
    bottom: 50px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(250, 86, 116, 0.33) 0%, rgba(7, 12, 20, 0) 100%);
    filter: blur(120px);
    opacity: .70;
    z-index: -1;
}

.team-one__shape-5 {
    position: absolute;
    top: 0;
    right: 0px;
    mix-blend-mode: screen;
    opacity: .10;
    z-index: -1;
}

.team-one__shape-5 img {
    width: auto;
}

.team-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--techguru-white-rgb), 0.05);
    z-index: -1;
}

.team-one__carousel {
    position: relative;
    display: block;
}

.team-one__single {
    position: relative;
    display: block;
    margin-bottom: 22px;
}

.team-one__img-box {
    position: relative;
    display: block;
}

.team-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 40px;
}

.team-one__img img {
    width: 100%;
    border-radius: 40px;
    transform: scale(1.0);
    transition: all 1500ms ease;
}

.team-one__single:hover .team-one__img img {
    transform: scale(1.05) rotate(0deg);
}

.team-one__content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 12px;
    padding-top: 17px;
}

.team-one__arrow {
    position: relative;
    display: block;
}

.team-one__arrow a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    border-radius: 12px;
    background-color: transparent;
    z-index: 1;
}

.team-one__arrow a:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 12px;
    background: linear-gradient(270deg, #FA5674 0%, #6065D4 100%);
    transform: scaleX(0.7) rotateX(20deg);
    opacity: 0;
    transition: all 0.4s linear;
    z-index: -1;
}

.team-one__arrow a:hover:after {
    transform: scaleX(1.0) rotateX(0deg);
    transition: all 0.4s linear;
    opacity: 1;
}

.team-one__arrow a span {
    background: linear-gradient(270deg, #5CB0E9 0%, #3D72FC 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.team-one__arrow a:hover span {
    background: linear-gradient(270deg, #ffffff 0%, #ffffff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.team-one__arrow a::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 12px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #3D72FC, #5CB0E9) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    visibility: visible;
    opacity: 1;
    z-index: -1;
}

.team-one__arrow a:hover::before {
    opacity: 0;
}

.team-one__title-box {
    position: relative;
    display: block;
}

.team-one__sub-title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.team-one__sub-title span {
    position: relative;
    display: block;
    width: 4px;
    height: 4px;
    background-color: var(--techguru-base);
    border-radius: 2px;
}

.team-one__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

.team-one__title a {
    color: var(--techguru-white);
}

.team-one__title a:hover {
    color: var(--techguru-base);
}

.team-one__social-box-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}

.team-one__social-box {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    flex-direction: column;
    gap: 17px;
    opacity: 0;
    transform: translateY(50px);
    transition: background-color 0.7s ease;
    transition: all 0.7s ease;
}

.team-one__single:hover .team-one__social-box {
    opacity: 1;
    transform: translateY(0px);
}

.team-one__social {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.team-one__social a {
    position: relative;
    display: inline-block;
    font-size: 28px;
    color: var(--techguru-white);
}

.team-one__social a:hover {
    color: var(--techguru-base);
}

.team-one__carousel .swiper-pagination {
    position: relative;
    text-align: center;
    margin: 56px auto 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-one__carousel .swiper-pagination .swiper-pagination-bullet{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(270deg, rgba(250, 86, 116, .20), rgba(96, 101, 212, .20));
    margin: 0px 5px;
    padding: 0px;
    transition: all 100ms linear;
    transition-delay: 0.1s;
    z-index: 1;
    opacity: 1;
}

.team-one__carousel .swiper-pagination .swiper-pagination-bullet::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-color: var(--techguru-base);
    border-radius: 50%;
    transform: scaleX(0);
    transition: all 200ms linear;
    transition-delay: 0.1s;
    z-index: -1;
}

.team-one__carousel .swiper-pagination .swiper-pagination-bullet-active::after {
    transform: scaleX(1.0);
}


/*--------------------------------------------------------------
# Team Two
--------------------------------------------------------------*/
.team-two {
    position: relative;
    display: block;
    background-color: var(--techguru-black);
    padding: 140px 0;
    overflow: hidden;
    z-index: 1;
}

.team-two::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--techguru-white-rgb), 0.05);
    z-index: -1;
}

.team-two__bg-shape {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 491px;
    opacity: .20;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    z-index: -1;
}

.team-two__shape-1 {
    position: absolute;
    left: -24.48%;
    right: 33.87%;
    top: -73.8%;
    bottom: -59.72%;
    opacity: .40;
    filter: blur(120px);
    background: radial-gradient(50% 50% at 50% 50%, rgba(102, 105, 216, 0.43) 0%, rgba(7, 12, 20, 0) 100%);
    z-index: -1;
}


.team-two__left {
    position: relative;
    display: block;
}

.team-two__left .section-title {
    margin-bottom: 24px;
}

.team-two__left .section-title__title {
    margin-right: -100px;
}

.team-two__right {
    position: relative;
    display: block;
    margin-right: -550px;
}

.team-two__carousel {
    position: relative;
    display: block;
}

.team-two__single {
    position: relative;
    display: block;
    border-radius: 20px;
}

.team-two__img-box {
    position: relative;
    display: block;
}

.team-two__img {
    position: relative;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}

.team-two__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #8F88FF, #6073D4) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    visibility: visible;
    opacity: 0;
    z-index: 1;
}

.team-two__single:hover .team-two__img::before {
    opacity: 1;
}

.team-two__img img {
    width: 100%;
    border-radius: 20px;
    transform: scale(1.0);
    transition: all 1500ms ease;
}

.team-two__single:hover .team-two__img img {
    transform: scale(1.05) rotate(0deg);
}

.team-two__social {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    top: 25px;
    left: 25px;
    z-index: 2;
}

.team-two__social a {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--techguru-gray);
}

.team-two__social a:hover {
    color: var(--techguru-base);
}

.team-two__title-box {
    position: absolute;
    bottom: 18px;
    left: 25px;
    z-index: 1;
}

.team-two__title-box h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-transform: capitalize;
    margin-bottom: 1px;
}

.team-two__title-box h3 a {
    color: var(--techguru-white);
}

.team-two__title-box h3 a:hover {
    color: var(--techguru-base);
}

.team-two__carousel .owl-nav {
    position: absolute;
    bottom: 10px;
    left: -555px;
    margin: 0 !important;
}

.team-two__carousel .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    height: 44px;
    width: 44px;
    line-height: 44px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 20px;
    margin: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
    cursor: pointer;
}

.team-two__carousel .owl-nav .owl-next:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 12px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #3D72FC, #5CB0E9) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    visibility: visible;
    opacity: 1;
    z-index: -1;
}

.team-two__carousel .owl-nav .owl-prev {
    position: relative;
    display: inline-block;
    height: 44px;
    width: 44px;
    line-height: 44px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 20px;
    margin: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
    cursor: pointer;

}

.team-two__carousel .owl-nav .owl-prev:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 12px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #3D72FC, #5CB0E9) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    visibility: visible;
    opacity: 1;
    z-index: -1;
}

.team-two__carousel .owl-nav .owl-next {
    margin-left: 5px;
}

.team-two__carousel .owl-nav .owl-prev {
    margin-right: 5px;
}

.team-two__carousel .owl-nav .owl-next span,
.team-two__carousel .owl-nav .owl-prev span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #5CB0E9 0%, #3D72FC 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    top: 12px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.team-two__carousel .owl-nav .owl-next:hover span,
.team-two__carousel .owl-nav .owl-prev:hover span {
    background: linear-gradient(270deg, #ffffff 0%, #ffffff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.team-two__carousel .owl-nav .owl-prev span {
    transform: rotateY(180deg);
}

.team-two__carousel .owl-nav .owl-next:hover,
.team-two__carousel .owl-nav .owl-prev:hover {
    background: linear-gradient(270deg, #5CB0E9 0%, #3D72FC 100%);
}

/*--------------------------------------------------------------
# Team Page
--------------------------------------------------------------*/
.team-page {
    position: relative;
    display: block;
    padding: 140px 0 0;
    z-index: 1;
}

.team-page__shape-1 {
    position: absolute;
    top: -70px;
    left: 0;
    z-index: -1;
}

.team-page__shape-1 img {
    width: auto;
}

/*--------------------------------------------------------------
# Team Details
--------------------------------------------------------------*/
.team-details {
    position: relative;
    display: block;
    padding: 140px 0 140px;
    z-index: 1;
}

.team-details__left {
    position: relative;
    display: block;
    margin-right: 130px;
}

.team-details__img-box {
    position: relative;
    display: block;
}

.team-details__img-box::before {
    content: "";
    position: absolute;
    top: 12px;
    right: -12px;
    bottom: -12px;
    left: 12px;
    border-radius: 26px;
    border: 3px solid transparent;
    background: linear-gradient(90deg, #3D72FC, #5CB0E9) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.team-details__img {
    position: relative;
    display: block;
}

.team-details__img img {
    width: 100%;
    border-radius: 20px;
}

.team-details__experience-box {
    position: absolute;
    bottom: 140px;
    right: -87px;
    background: linear-gradient(270deg, rgba(92, 176, 233, 0.8) 0%, rgba(61, 114, 252, 0.8) 100%);
    backdrop-filter: blur(2px);
    border-radius: 16px;
    padding: 25px 15px 18px;
    max-width: 190px;
    width: 100%;
    z-index: 1;
}

.team-details__experience-icon {
    position: relative;
    display: inline-block;
}

.team-details__experience-icon img {
    width: auto;
}

.team-details__experience-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: var(--techguru-white);
    margin: 14px 0 7px;
}

.team-details__experience-text {
    font-weight: 500;
    color: var(--techguru-white);
}

.team-details__right {
    position: relative;
    display: block;
    margin-top: 19px;
}

.team-details__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: var(--techguru-white);
    text-transform: capitalize;
}

.team-details__sub-title {
    position: relative;
    display: inline-block;
    font-weight: 500;
    background: linear-gradient(270deg, #5CB0E9 0%, #3D72FC 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 10px 0 39px;
}

.team-details__text {
    font-size: 16px;
    line-height: 24px;
}

.team-details__points-box {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 70px;
    margin: 34px 0 39px;
}

.team-details__points {
    position: relative;
    display: block;
}

.team-details__points li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.team-details__points li+li {
    margin-top: 18px;
}

.team-details__points li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    overflow: hidden;
    top: 5px;
    z-index: 1;
}

.team-details__points li .icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #FA5674 0%, #6065D4 100%);
    border-radius: 12px;
    z-index: -1;
}

.team-details__points li .icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(270deg, #5CB0E9 0%, #3D72FC 100%);
    border-radius: 12px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
}

.team-details__points li:hover .icon::after {
    opacity: 1;
}

.team-details__points li .icon span {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: var(--techguru-white);
}

.team-details__points li .content {
    position: relative;
    display: block;
    flex: 1;
}

.team-details__points li .content h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--techguru-white);
    margin-bottom: 5px;
}

.team-details__points li .content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--techguru-gray);
}

.team-details__points li .content p a {
    color: var(--techguru-gray);
}

.team-details__points li .content p a:hover {
    color: var(--techguru-base);
}

.team-details__social-box {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 17px;
    background-color: rgba(var(--techguru-white-rgb), .10);
    border-radius: 20px;
    padding: 20px 24px 20px;
}

.team-details__social-box p {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: var(--techguru-base);
    text-transform: capitalize;
}

.team-details__social-list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.team-details__social-list a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(var(--techguru-white-rgb), .20);
    border-radius: 10px;
    font-size: 18px;
    color: var(--techguru-white);
}

.team-details__social-list a:hover {
    color: var(--techguru-black);
    background-color: var(--techguru-base);
}

/*--------------------------------------------------------------
# Team Carousel Page
--------------------------------------------------------------*/
.team-carousel-page {
    position: relative;
    display: block;
    padding: 140px 0 140px;
}

.team-carousel-page .team-one__single {
    margin-bottom: 0;
}





/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/