/* [project]/Wolfexa/Wolfexa_Themes/Envto/NEXT JS/techguru-technology-it-solutions-next-js-templ-2025-11-25-18-07-41-utc/techguru/public/assets/css/module-css/newsletter.css [app-client] (css) */
.newsletter-one {
  z-index: 1;
  padding: 140px 0 0;
  display: block;
  position: relative;
}

.newsletter-one__inner {
  text-align: center;
  z-index: 1;
  background: linear-gradient(135deg, #00d4ff 0%, #8338ec 100%);
  border-radius: 40px;
  padding: 75px 0 60px;
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 212, 255, .2);
}

.newsletter-one__shape-bg {
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 0;
  right: 0;
}

.newsletter-one__shape-1 {
  opacity: .14;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.newsletter-one__shape-1 img {
  width: auto;
}

.newsletter-one__shape-2 {
  background-color: rgba(var(--techguru-white-rgb), .13);
  z-index: -1;
  width: 76px;
  height: 570px;
  position: absolute;
  top: -100px;
  right: 85px;
  transform: rotate(-40deg);
}

.newsletter-one__shape-3 {
  background-color: rgba(var(--techguru-white-rgb), .13);
  z-index: -1;
  width: 76px;
  height: 570px;
  position: absolute;
  top: -100px;
  right: 104px;
  transform: rotate(-40deg);
}

.newsletter-one__img {
  z-index: -1;
  position: absolute;
  top: 30px;
  right: 0;
}

.newsletter-one__img img {
  width: auto;
}

.newsletter-one__title {
  color: var(--techguru-white);
  letter-spacing: -.04em;
  margin-bottom: 19px;
  font-size: 64px;
  font-weight: 700;
  line-height: 1em;
}

.newsletter-one__title span {
  font-family: var(--techguru-font);
  font-weight: 400;
}

.newsletter-one__text {
  color: var(--techguru-white);
  font-weight: 400;
}

.newsletter-one__contact-form {
  margin-top: 48px;
  display: block;
  position: relative;
}

.newsletter-one__contact-input-box {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  position: relative;
}

.newsletter-one__contact-input-box input[type="email"] {
  width: 100%;
  max-width: 320px;
  height: 56px;
  color: var(--techguru-white);
  border: 1px solid rgba(var(--techguru-white-rgb), .8);
  background: linear-gradient(90deg, rgba(255, 255, 255, .19) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 14px;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  font-weight: 400;
}

.newsletter-one__contact-form .thm-btn {
  background: var(--techguru-base);
  color: var(--techguru-black);
  border: none;
  padding: 21px 25px 19px;
}

.newsletter-one__contact-form .thm-btn:before, .newsletter-one__contact-form .thm-btn:after {
  background: var(--techguru-black);
}

.newsletter-one__contact-form .thm-btn:hover {
  color: var(--techguru-white);
}

.newsletter-two {
  z-index: 1;
  background-color: #131c30;
  display: block;
  position: relative;
  overflow: hidden;
}

.newsletter-two__shape-1 {
  mix-blend-mode: screen;
  opacity: .2;
  z-index: -1;
  animation: 4s ease-in-out infinite leftRight;
  position: absolute;
  top: 0;
  left: 0;
}

.newsletter-two__shape-1 img {
  width: auto;
}

.newsletter-two__shape-2 {
  mix-blend-mode: screen;
  opacity: .2;
  z-index: -1;
  position: absolute;
  top: 0;
  right: -30px;
}

.newsletter-two__shape-2 img {
  width: auto;
}

.newsletter-two__inner {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 58px;
  display: flex;
  position: relative;
}

.newsletter-two__left {
  display: block;
  position: relative;
}

.newsletter-two__title {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #fa5674 0%, #6065d4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}

.newsletter-two__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
}

.newsletter-two__right {
  width: 100%;
  max-width: 520px;
  display: block;
  position: relative;
}

.newsletter-two__form, .newsletter-two__input {
  display: block;
  position: relative;
}

.newsletter-two__input input[type="email"] {
  color: var(--techguru-white);
  border: 1px solid rgba(var(--techguru-white-rgb), .2);
  background: none;
  border-radius: 20px;
  outline: none;
  width: 100%;
  height: 60px;
  padding: 0 200px 0 25px;
  font-size: 16px;
  font-weight: 400;
}

.newsletter-two__form .thm-btn {
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.newsletter-two__form .checked-box {
  margin-top: 14px;
  display: block;
  position: relative;
}

.newsletter-two__form .checked-box label {
  color: var(--techguru-white);
  text-transform: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: var(--techguru-font);
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 30px;
  display: inline-block;
  position: relative;
}

.newsletter-two__form .checked-box input[type="checkbox"] {
  display: none;
}

.newsletter-two__form .checked-box input[type="checkbox"] + label span {
  vertical-align: middle;
  cursor: pointer;
  -o-transition: all .3s ease;
  background: none;
  border: 0;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  transition: all .3s;
  position: absolute;
  top: 2px;
  left: 0;
}

.newsletter-two__form .checked-box label span:after {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, #6065d4, #fa5674) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.newsletter-two__form .checked-box label span:before {
  border-bottom: 2px solid var(--techguru-white);
  border-right: 2px solid var(--techguru-white);
  content: "";
  pointer-events: none;
  transform-origin: 66% 66%;
  opacity: 0;
  width: 6px;
  height: 9px;
  transition: all .15s ease-in-out;
  display: block;
  position: absolute;
  top: 4px;
  left: 6px;
  transform: rotate(45deg);
}

.newsletter-two__form.checked-box input[type="checkbox"]:checked + label span {
  border-color: var(--techguru-white);
}

.newsletter-two__form .checked-box input[type="checkbox"]:checked + label span:before {
  opacity: 1;
}

.newsletter-three {
  padding: 140px 0;
}

/*# sourceMappingURL=b51b8_techguru_public_assets_css_module-css_newsletter_css_bad6b30c._.single.css.map*/