/* [project]/Wolfexa/Wolfexa_Themes/Envto/NEXT JS/techguru-technology-it-solutions-next-js-templ-2025-11-25-18-07-41-utc/techguru/public/assets/css/module-css/sliding-text.css [app-client] (css) */
.sliding-text {
  z-index: 2;
  background: linear-gradient(270deg, #ff3c5f 0%, #565ce6 100%);
  padding: 24px 0;
  display: block;
  position: relative;
}

.sliding-text__wrap {
  display: block;
  position: relative;
}

.sliding-text__list {
  flex-wrap: nowrap;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
}

.sliding-text__list li {
  float: left;
  display: flex;
  position: relative;
}

.sliding-text__title {
  color: var(--techguru-white);
  letter-spacing: -.02em;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  font-family: var(--techguru-font-two);
  text-transform: capitalize;
  z-index: 1;
  background: linear-gradient(266.69deg, rgba(255, 255, 255, .2) 2.9%, rgba(255, 255, 255, 0) 96.45%);
  border-radius: 40px;
  align-items: center;
  padding: 20px 32px;
  font-style: normal;
  transition: all .3s;
  display: flex;
  position: relative;
}

.sliding-text__title:after {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, #ffd25d, rgba(255, 210, 93, .01)) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 40px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.sliding-text__list li span {
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  background: linear-gradient(-90deg, #fff, rgba(255, 255, 255, .01)) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  transition: all .5s;
  display: block;
  position: relative;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.sliding-text-two__wrap {
  padding-top: 100px;
  display: block;
  position: relative;
}

.sliding-text-two__list {
  flex-wrap: nowrap;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
}

.sliding-text-two__list li {
  float: left;
  margin-left: 12px;
  display: flex;
  position: relative;
}

.sliding-text-two__title {
  color: var(--techguru-white);
  letter-spacing: .04em;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: var(--techguru-font-two);
  text-transform: uppercase;
  z-index: 1;
  border-radius: 40px;
  align-items: center;
  padding: 11px 28px;
  font-style: normal;
  display: flex;
  position: relative;
}

.sliding-text-two__title:after {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, rgba(143, 136, 255, .3), rgba(92, 176, 233, .1)) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 40px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.sliding-text-three {
  z-index: 2;
  background: linear-gradient(270deg, #fa5674 0%, #6065d4 100%);
  padding: 16px 0;
  display: block;
  position: relative;
}

.sliding-text-three__wrap {
  display: block;
  position: relative;
}

.sliding-text-three__list {
  flex-wrap: nowrap;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
}

.sliding-text-three__list li {
  float: left;
  display: flex;
  position: relative;
}

.sliding-text-three__title {
  color: var(--techguru-white);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--techguru-font-two);
  text-transform: uppercase;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  font-style: normal;
  display: flex;
  position: relative;
}

.sliding-text-three__title:before {
  width: 0;
  color: var(--techguru-base);
  white-space: nowrap;
  content: attr(data-hover);
  transition: all .5s cubic-bezier(.17, .67, .32, .87);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.sliding-text-three__list li:hover .sliding-text-three__title:before {
  width: 100%;
}

.sliding-text-three__list li span {
  color: var(--techguru-base);
  font-size: 24px;
  display: inline-block;
  position: relative;
}

/*# sourceMappingURL=b51b8_techguru_public_assets_css_module-css_sliding-text_css_bad6b30c._.single.css.map*/