/* [project]/Wolfexa/Wolfexa_Themes/Envto/NEXT JS/techguru-technology-it-solutions-next-js-templ-2025-11-25-18-07-41-utc/techguru/public/assets/css/module-css/blog.css [app-client] (css) */
.blog-one {
  z-index: 1;
  padding: 140px 0;
  display: block;
  position: relative;
}

.blog-one .swiper {
  overflow: visible;
}

.blog-one__shape-1 {
  opacity: .7;
  filter: blur(160px);
  z-index: -1;
  background: radial-gradient(50% 50%, #00d4ff 0%, rgba(7, 12, 20, 0) 100%);
  width: 962px;
  height: 1008px;
  position: absolute;
  top: 0;
  left: -250px;
}

.blog-one__shape-2 {
  opacity: .7;
  filter: blur(160px);
  z-index: -1;
  background: radial-gradient(50% 50%, rgba(131, 56, 236, .63) 0%, rgba(7, 12, 20, 0) 100%);
  width: 962px;
  height: 1008px;
  position: absolute;
  top: 0;
  right: 0;
}

.blog-one .container {
  max-width: 1340px;
}

.blog-one__single {
  display: block;
  position: relative;
}

.blog-one__img {
  z-index: 1;
  border-radius: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}

.blog-one__img:before {
  content: "";
  background-color: rgba(var(--techguru-black-rgb), 1);
  opacity: 0;
  z-index: 1;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blog-one__single:hover .blog-one__img:before {
  opacity: .5;
}

.blog-one__img img {
  border-radius: 24px;
  width: 100%;
  transition: transform 1s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.blog-one__single:hover .blog-one__img img {
  transform: scale(1.05)rotate(0);
}

.blog-one__tags {
  z-index: 5;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.blog-one__tags span {
  color: var(--techguru-white);
  background: linear-gradient(135deg, #00d4ff 0%, #8338ec 100%);
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  display: flex;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 212, 255, .3);
}

.blog-one__content {
  margin-top: 20px;
  padding-left: 65px;
  display: block;
  position: relative;
}

.blog-one__user {
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 3px 15px 3px 3px;
  display: flex;
  position: absolute;
  top: 70px;
  left: -46px;
  transform: rotate(90deg);
}

.blog-one__user:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(rgba(0, 212, 255, .2), rgba(131, 56, 236, .3)) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 40px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-one__user-img {
  border-radius: 50%;
  width: 32px;
  display: block;
  position: relative;
  overflow: hidden;
  transform: rotate(-90deg);
}

.blog-one__user-img img {
  border-radius: 50%;
  width: 100%;
}

.blog-one__user-title {
  color: var(--techguru-white);
  font-size: 16px;
  font-weight: 500;
}

.blog-one__meta {
  align-items: center;
  margin-bottom: 15px;
  display: flex;
  position: relative;
}

.blog-one__meta li {
  display: block;
  position: relative;
}

.blog-one__meta li + li {
  margin-left: 26px;
}

.blog-one__meta li:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  background: linear-gradient(#3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all .5s;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: -13px;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-one__meta li:first-child:before {
  display: none;
}

.blog-one__meta li a {
  color: var(--techguru-gray);
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: all .5s;
  display: flex;
  position: relative;
}

.blog-one__meta li a:hover {
  color: var(--techguru-base);
}

.blog-one__meta li a span {
  color: var(--techguru-base);
  margin-right: 6px;
  font-size: 14px;
  position: relative;
}

.blog-one__title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.blog-one__title a {
  color: var(--techguru-white);
}

.blog-one__title a:hover {
  color: var(--techguru-base);
}

.blog-one__text {
  margin-bottom: 12px;
  font-size: 16px;
}

.blog-one__btn-box {
  display: block;
  position: relative;
}

.blog-one__carousel .owl-stage-outer {
  overflow: visible;
}

.blog-one__carousel .swiper-nav {
  position: absolute;
  bottom: -15px;
  right: 0;
  margin: 0 !important;
}

.blog-one__carousel .swiper-nav .swiper-next {
  z-index: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  width: 44px;
  height: 44px;
  margin: 0;
  font-size: 20px;
  line-height: 44px;
  transition: all .5s;
  display: inline-block;
  position: relative;
}

.blog-one__carousel .swiper-nav .swiper-next:after {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, #3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-one__carousel .swiper-nav .swiper-prev {
  z-index: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  width: 44px;
  height: 44px;
  margin: 0;
  font-size: 20px;
  line-height: 44px;
  transition: all .5s;
  display: inline-block;
  position: relative;
}

.blog-one__carousel .swiper-nav .swiper-prev:after {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, #3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-one__carousel .swiper-nav .swiper-next {
  margin-left: 5px;
}

.blog-one__carousel .swiper-nav .swiper-prev {
  margin-right: 5px;
}

.blog-one__carousel .swiper-nav .swiper-next span, .blog-one__carousel .swiper-nav .swiper-prev span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  display: flex;
  position: relative;
  top: 10px;
}

.blog-one__carousel .swiper-nav .swiper-next:hover span, .blog-one__carousel .swiper-nav .swiper-prev:hover span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #fff 0%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.blog-one__carousel .swiper-nav .swiper-prev span {
  transform: rotateY(180deg);
}

.blog-one__carousel .swiper-nav .swiper-next:hover, .blog-one__carousel .swiper-nav .swiper-prev:hover {
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
}

.blog-one__carousel .swiper-pagination {
  text-align: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  display: flex;
  position: relative;
  margin: 60px auto 0 !important;
}

.blog-one__carousel .swiper-pagination .swiper-pagination-bullet {
  z-index: 1;
  opacity: 1;
  background: linear-gradient(270deg, rgba(250, 86, 116, .2), rgba(96, 101, 212, .2));
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  transition: all .1s linear .1s;
  display: inline-block;
  position: relative;
}

.blog-one__carousel .swiper-pagination .swiper-pagination-bullet:after {
  content: "";
  background-color: var(--techguru-base);
  z-index: -1;
  border-radius: 50%;
  transition: all .2s linear .1s;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  transform: scaleX(0);
}

.blog-one__carousel .swiper-pagination-bullet-active:after {
  transform: scaleX(1) !important;
}

.blog-two {
  padding: 140px 0 100px;
  display: block;
  position: relative;
}

.blog-two__left {
  margin-right: 50px;
  display: block;
  position: relative;
}

.blog-two__left .section-title {
  margin-bottom: 21px;
}

.blog-two-text {
  margin-bottom: 23px;
}

.blog-two__top-btn-box {
  margin-bottom: 77px;
  display: block;
  position: relative;
}

.blog-two__left-content-box {
  display: block;
  position: relative;
}

.blog-two__single {
  background: linear-gradient(270deg, rgba(36, 46, 75, .4) 0%, rgba(29, 37, 63, .4) 100%);
  border: 2px solid rgba(255, 255, 255, .1);
  border-radius: 40px;
  margin-bottom: 40px;
  padding: 22px;
  display: block;
  position: relative;
}

.blog-two__img {
  z-index: 1;
  border-radius: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}

.blog-two__img:before {
  content: "";
  background-color: rgba(var(--techguru-black-rgb), 1);
  opacity: 0;
  z-index: 1;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blog-two__single:hover .blog-two__img:before {
  opacity: .5;
}

.blog-two__img img {
  border-radius: 24px;
  width: 100%;
  transition: transform 1s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.blog-two__single:hover .blog-two__img img {
  transform: scale(1.05)rotate(0);
}

.blog-two__tags {
  z-index: 5;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  display: flex;
  position: absolute;
  bottom: 14px;
  left: 14px;
}

.blog-two__tags span {
  color: var(--techguru-black);
  background: var(--techguru-base);
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  display: flex;
  position: relative;
}

.blog-two__content {
  margin-top: 18px;
  padding-left: 65px;
  display: block;
  position: relative;
}

.blog-two__user {
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 4px 15px 4px 4px;
  display: flex;
  position: absolute;
  top: 50px;
  left: -58px;
  transform: rotate(90deg);
}

.blog-two__user:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(rgba(92, 176, 233, .1), rgba(143, 136, 255, .3)) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 40px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-two__user-img {
  border-radius: 50%;
  width: 32px;
  display: block;
  position: relative;
  overflow: hidden;
  transform: rotate(-90deg);
}

.blog-two__user-img img {
  border-radius: 50%;
  width: 100%;
}

.blog-two__user-title {
  color: var(--techguru-white);
  font-size: 16px;
  font-weight: 500;
}

.blog-two__meta {
  align-items: center;
  margin-bottom: 15px;
  display: flex;
  position: relative;
}

.blog-two__meta li {
  display: block;
  position: relative;
}

.blog-two__meta li + li {
  margin-left: 26px;
}

.blog-two__meta li:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  background: linear-gradient(#3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all .5s;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: -13px;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-two__meta li:first-child:before {
  display: none;
}

.blog-two__meta li a {
  color: var(--techguru-gray);
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: all .5s;
  display: flex;
  position: relative;
}

.blog-two__meta li a:hover {
  color: var(--techguru-base);
}

.blog-two__meta li a span {
  color: var(--techguru-base);
  margin-right: 6px;
  font-size: 14px;
  position: relative;
}

.blog-two__title {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.blog-two__title a {
  color: var(--techguru-white);
}

.blog-two__title a:hover {
  color: var(--techguru-base);
}

.blog-two__text {
  margin-bottom: 17px;
  font-size: 16px;
}

.blog-two__btn-box {
  display: block;
  position: relative;
}

.blog-two__btn-box .thm-btn {
  border-radius: 22px;
  padding: 13px 25px;
}

.blog-two__right {
  display: block;
  position: relative;
}

.blog-two__single-two {
  background: linear-gradient(270deg, rgba(36, 46, 75, .4) 0%, rgba(29, 37, 63, .4) 100%);
  border: 2px solid rgba(255, 255, 255, .1);
  border-radius: 40px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  padding: 14px;
  display: flex;
  position: relative;
}

.blog-two__img-two {
  z-index: 1;
  border-radius: 28px;
  max-width: 250px;
  display: block;
  position: relative;
  overflow: hidden;
}

.blog-two__img-two:before {
  content: "";
  background-color: rgba(var(--techguru-black-rgb), 1);
  opacity: 0;
  z-index: 1;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blog-two__single-two:hover .blog-two__img-two:before {
  opacity: .5;
}

.blog-two__img-two img {
  border-radius: 28px;
  width: 100%;
  transition: transform 1s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.blog-two__single-two:hover .blog-two__img-two img {
  transform: scale(1.05)rotate(0);
}

.blog-two__content-two {
  flex: 1;
  padding-left: 75px;
  display: block;
  position: relative;
}

.blog-two__user-two {
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 4px 15px 4px 4px;
  display: flex;
  position: absolute;
  top: 76px;
  left: -37px;
  transform: rotate(90deg);
}

.blog-two__user-two:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(rgba(92, 176, 233, .1), rgba(143, 136, 255, .3)) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 40px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-two__user-two-img {
  border-radius: 50%;
  width: 32px;
  display: block;
  position: relative;
  overflow: hidden;
  transform: rotate(-90deg);
}

.blog-two__user-two-img img {
  border-radius: 50%;
  width: 100%;
}

.blog-two__user-two-title {
  color: var(--techguru-white);
  font-size: 16px;
  font-weight: 500;
}

.blog-two__tags-two {
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  display: flex;
  position: relative;
}

.blog-two__tags-two span {
  text-align: center;
  z-index: 1;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  display: flex;
  position: relative;
}

.blog-two__tags-two span:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, #3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 14px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-two__title-two {
  margin-top: 25px;
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.blog-two__title-two a {
  color: var(--techguru-white);
}

.blog-two__title-two a:hover {
  color: var(--techguru-base);
}

.blog-two__meta-two {
  align-items: center;
  margin-bottom: 22px;
  display: flex;
  position: relative;
}

.blog-two__meta-two li {
  display: block;
  position: relative;
}

.blog-two__meta-two li + li {
  margin-left: 26px;
}

.blog-two__meta-two li:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  background: linear-gradient(#3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all .5s;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: -13px;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-two__meta-two li:first-child:before {
  display: none;
}

.blog-two__meta-two li a {
  color: var(--techguru-gray);
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: all .5s;
  display: flex;
  position: relative;
}

.blog-two__meta-two li a:hover {
  color: var(--techguru-base);
}

.blog-two__meta-two li a span {
  color: var(--techguru-base);
  margin-right: 6px;
  font-size: 14px;
  position: relative;
}

.blog-two__btn-box-two {
  display: block;
  position: relative;
}

.blog-two__btn-box-two .thm-btn {
  border-radius: 22px;
  padding: 13px 25px;
}

.blog-three {
  padding: 110px 0 100px;
}

.blog-page {
  z-index: 1;
  padding: 140px 0;
  display: block;
  position: relative;
}

.blog-page__shape-1 {
  filter: blur(120px);
  opacity: .3;
  z-index: -1;
  background: radial-gradient(50% 50%, #6669d8 0%, rgba(7, 12, 20, 0) 100%);
  position: absolute;
  top: -.48%;
  bottom: 51.77%;
  left: -12.97%;
  right: 62.86%;
}

.blog-page__shape-2 {
  filter: blur(120px);
  opacity: .5;
  z-index: -1;
  background: radial-gradient(50% 50%, rgba(250, 86, 116, .63) 0%, rgba(7, 12, 20, 0) 100%);
  position: absolute;
  top: -.48%;
  bottom: 51.77%;
  left: 49.9%;
  right: 0%;
}

.blog-page .blog-one__single {
  margin-bottom: 30px;
}

.blog-page__pagination {
  text-align: center;
  margin-top: 50px;
  display: block;
  position: relative;
}

.blog-page__pagination .pg-pagination {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  position: relative;
}

.blog-page__pagination .pg-pagination li {
  display: block;
  position: relative;
}

.blog-page__pagination .pg-pagination li a {
  text-align: center;
  width: 48px;
  height: 48px;
  color: var(--techguru-white);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  transition: all .5s;
  display: inline-block;
  position: relative;
}

.blog-page__pagination .pg-pagination li:nth-child(6) a {
  transform: rotate(180deg);
}

.blog-page__pagination .pg-pagination li a:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, #3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-page__pagination .pg-pagination li:nth-child(6) a:before {
  transform: rotate(180deg);
}

.blog-page__pagination .pg-pagination li:hover a, .blog-page__pagination .pg-pagination li.active a {
  color: var(--techguru-white);
}

.blog-page__pagination .pg-pagination li a:after {
  content: "";
  opacity: 0;
  z-index: -1;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  border-radius: 50%;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blog-page__pagination .pg-pagination li:hover a:after, .blog-page__pagination .pg-pagination li.active a:after {
  opacity: 1;
}

.blog-page__pagination .pg-pagination li:nth-child(6) a:after {
  transform: rotate(180deg);
}

.blog-list {
  z-index: 1;
  padding: 140px 0;
  display: block;
  position: relative;
}

.blog-list__left {
  margin-right: 66px;
  display: block;
  position: relative;
}

.blog-list__single {
  margin-bottom: 60px;
  display: block;
  position: relative;
}

.blog-list__img {
  z-index: 1;
  border-radius: 40px;
  display: block;
  position: relative;
  overflow: hidden;
}

.blog-list__img:before {
  content: "";
  background-color: rgba(var(--techguru-black-rgb), 1);
  opacity: 0;
  z-index: 1;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blog-list__single:hover .blog-list__img:before {
  opacity: .5;
}

.blog-list__img img {
  border-radius: 40px;
  width: 100%;
  transition: transform 1s ease-in-out;
  transform: scale3d(1, 1, 1);
}

.blog-list__single:hover .blog-list__img img {
  transform: scale(1.05)rotate(0);
}

.blog-list__tags {
  z-index: 5;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.blog-list__tags span {
  color: var(--techguru-white);
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  display: flex;
  position: relative;
}

.blog-list__content {
  margin-top: 27px;
  padding-left: 80px;
  display: block;
  position: relative;
}

.blog-list__content:before {
  content: "";
  background-color: rgba(var(--techguru-white-rgb), .1);
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 56px;
}

.blog-list__user {
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  display: flex;
  position: absolute;
  top: 62px;
  left: -50px;
  transform: rotate(90deg);
}

.blog-list__user-img {
  border-radius: 50%;
  width: 32px;
  display: block;
  position: relative;
  overflow: hidden;
  transform: rotate(-90deg);
}

.blog-list__user-img img {
  border-radius: 50%;
  width: 100%;
}

.blog-list__user-title {
  color: var(--techguru-white);
  font-size: 16px;
  font-weight: 500;
}

.blog-list__meta {
  align-items: center;
  margin-bottom: 15px;
  display: flex;
  position: relative;
}

.blog-list__meta li {
  display: block;
  position: relative;
}

.blog-list__meta li + li {
  margin-left: 26px;
}

.blog-list__meta li:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  background: linear-gradient(#3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all .5s;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: -13px;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-list__meta li:first-child:before {
  display: none;
}

.blog-list__meta li a {
  color: var(--techguru-gray);
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  transition: all .5s;
  display: flex;
  position: relative;
}

.blog-list__meta li a:hover {
  color: var(--techguru-base);
}

.blog-list__meta li a span {
  color: var(--techguru-base);
  margin-right: 6px;
  font-size: 14px;
  position: relative;
}

.blog-list__title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}

.blog-list__title a {
  color: var(--techguru-white);
}

.blog-list__title a:hover {
  color: var(--techguru-base);
}

.blog-list__text {
  margin-bottom: 12px;
  font-size: 16px;
}

.blog-list__btn-box {
  display: block;
  position: relative;
}

.blog-list__btn-box .thm-btn {
  border-radius: 25px;
  padding: 13px 25px 12px;
}

.blog-list__single-2 .blog-list__content {
  background-color: rgba(var(--techguru-white-rgb), .1);
  border-radius: 40px;
  padding: 23px 23px 23px 100px;
}

.blog-list__single-2 .blog-list__content:before {
  top: 24px;
  bottom: 24px;
  left: 75px;
}

.blog-list__single-2 .blog-list__user {
  top: 86px;
  left: -29px;
}

.blog-list__single-2 .blog-list__content:after {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  background: linear-gradient(90deg, #3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 40px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-list .blog-page__pagination {
  text-align: left;
  margin-top: 20px;
}

.blog-list__left--two {
  margin-left: 66px;
  margin-right: 0;
}

.sidebar {
  display: block;
  position: relative;
}

.sidebar__single + .sidebar__single {
  margin-top: 60px;
}

.sidebar__title-box {
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  display: flex;
  position: relative;
}

.sidebar__title-box:before {
  content: "";
  background: linear-gradient(90deg, #3d72fc 0%, rgba(92, 176, 233, 0) 100%);
  height: 1px;
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
}

.sidebar__title-shape {
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  position: relative;
}

.sidebar__title {
  text-transform: capitalize;
  color: var(--techguru-white);
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  position: relative;
}

.sidebar__search-text {
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.sidebar__search {
  background: rgba(255, 255, 255, .1);
  border-radius: 16px;
  padding: 20px 24px 24px;
  display: block;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.sidebar__search-form {
  position: relative;
}

.sidebar__search-form input[type="search"] {
  color: var(--techguru-gray);
  border: none;
  border: 1px solid rgba(var(--techguru-white-rgb), .1);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 16px;
  outline: none;
  width: 100%;
  height: 56px;
  padding-left: 20px;
  padding-right: 60px;
  font-size: 15px;
  font-weight: 500;
  display: block;
}

.sidebar__search-form ::-webkit-input-placeholder {
  color: var(--techguru-gray);
  opacity: 1;
}

.sidebar__search-form ::placeholder {
  color: var(--techguru-gray);
  opacity: 1;
}

.sidebar__search-form :-ms-placeholder-shown {
  color: var(--techguru-gray);
  opacity: 1;
}

.sidebar__search-form ::placeholder {
  color: var(--techguru-gray);
  opacity: 1;
}

.sidebar__search-form :-ms-placeholder-shown {
  color: var(--techguru-gray);
}

.sidebar__search-form ::-moz-placeholder {
  color: var(--techguru-gray);
}

.sidebar__search-form button[type="submit"] {
  color: var(--techguru-white);
  background: linear-gradient(270deg, #fa5674 0%, #6065d4 100%);
  border: none;
  border-radius: 12px;
  outline: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  padding: 0;
  font-size: 14px;
  transition: all .5s;
  display: flex;
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 7px;
}

.sidebar__category {
  background: rgba(255, 255, 255, .1);
  border-radius: 16px;
  padding: 20px 24px 24px;
  display: block;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.sidebar__category-list, .sidebar__category-list li {
  display: block;
  position: relative;
}

.sidebar__category-list li + li {
  margin-top: 7px;
}

.sidebar__category-list li a {
  color: var(--techguru-gray);
  z-index: 1;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 11px 18px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  position: relative;
  overflow: hidden;
}

.sidebar__category-list li > a:before {
  content: "";
  transform-origin: 100% 100%;
  z-index: -1;
  background: linear-gradient(270deg, #fa5674 0%, #6065d4 100%);
  border-radius: 8px;
  transition: transform .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1, 0);
}

.sidebar__category-list li:hover a:before, .sidebar__category-list li.active a:before {
  transform-origin: top;
  transform: scale(1);
}

.sidebar__post {
  background: rgba(255, 255, 255, .1);
  border-radius: 16px;
  padding: 20px 24px 24px;
  display: block;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.sidebar__post-list {
  display: block;
  position: relative;
}

.sidebar__post-list li {
  align-items: center;
  gap: 15px;
  display: flex;
  position: relative;
}

.sidebar__post-list li + li {
  margin-top: 24px;
}

.sidebar__post-image {
  border-radius: 12px;
  width: 100%;
  max-width: 80px;
  display: block;
  position: relative;
}

.sidebar__post-image img {
  border-radius: 12px;
  width: 100%;
}

.sidebar__post-content {
  flex: 1;
  display: block;
  position: relative;
}

.sidebar__post-date {
  color: var(--techguru-gray);
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  position: relative;
}

.sidebar__post-date span {
  color: var(--techguru-base);
  font-size: 14px;
  position: relative;
}

.sidebar__post-title {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.sidebar__post-title a {
  color: var(--techguru-white);
}

.sidebar__post-title a:hover {
  color: var(--techguru-base);
}

.sidebar__tags {
  background: rgba(255, 255, 255, .1);
  border-radius: 16px;
  padding: 20px 24px 24px;
  display: block;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.sidebar__tags-list {
  margin-left: -4px;
  margin-right: -4px;
  display: block;
  position: relative;
}

.sidebar__tags-list li {
  float: left;
  margin-bottom: 8px;
  padding: 0 4px;
  display: inline-block;
  position: relative;
}

.sidebar__tags-list li a {
  color: var(--techguru-white);
  border: 1px solid rgba(var(--techguru-white-rgb), .1);
  text-transform: capitalize;
  z-index: 1;
  background: none;
  border-radius: 25px;
  padding: 8px 17px;
  font-size: 16px;
  font-weight: 400;
  transition: all .4s;
  display: block;
  position: relative;
  overflow: hidden;
}

.sidebar__tags-list li a:hover {
  color: var(--techguru-white);
}

.sidebar__tags-list li > a:before {
  content: "";
  transform-origin: 100% 100%;
  z-index: -1;
  background: linear-gradient(270deg, #fa5674 0%, #6065d4 100%);
  border-radius: 25px;
  transition: transform .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1, 0);
}

.sidebar__tags-list li:hover a:before {
  transform-origin: top;
  transform: scale(1);
}

.sidebar__newsletter {
  background: rgba(255, 255, 255, .1);
  border-radius: 16px;
  padding: 20px 24px 24px;
  display: block;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.sidebar__newsletter-text {
  color: var(--techguru-white);
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
}

.sidebar__newsletter-form {
  display: block;
  position: relative;
}

.sidebar__newsletter-input {
  z-index: 1;
  display: block;
  position: relative;
}

.sidebar__newsletter-input:before {
  content: "";
  -webkit-mask-composite: xor;
  z-index: -1;
  background: linear-gradient(90deg, #6065d4, #fa5674) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.sidebar__newsletter-form input[type="search"] {
  width: 100%;
  height: 52px;
  color: var(--techguru-white);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 35px;
  outline: none;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-right: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 52px;
  display: block;
  position: relative;
}

.sidebar__newsletter-form .thm-btn {
  border: none;
  justify-content: center;
  width: 100%;
}

.sidebar__newsletter-input-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sidebar__newsletter-input-icon span {
  color: var(--techguru-white);
  font-size: 16px;
  display: inline-block;
  position: relative;
}

.sidebar__client-info-box {
  text-align: center;
  background: rgba(255, 255, 255, .1);
  border-radius: 16px;
  padding: 50px 30px;
  display: block;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.sidebar__client-img-box {
  z-index: 1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.sidebar__client-img-box:before {
  content: "";
  -webkit-mask-composite: xor;
  z-index: -1;
  background: linear-gradient(90deg, #5cb0e9, #3d72fc) border-box;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.sidebar__client-img {
  border-radius: 50%;
  width: 100%;
  max-width: 72px;
  display: block;
  position: relative;
}

.sidebar__client-img img {
  border-radius: 50%;
  width: 100%;
}

.sidebar__client-title {
  color: var(--techguru-white);
  text-transform: capitalize;
  margin: 20px 0 3px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.sidebar__client-sub-title {
  color: var(--techguru-white);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}

.sidebar__client-text {
  color: var(--techguru-white);
  margin: 20px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.sidebar__client-social-box {
  display: block;
  position: relative;
}

.sidebar__client-social-title {
  color: var(--techguru-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.sidebar__client-social {
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  display: flex;
  position: relative;
}

.sidebar__client-social a {
  width: 40px;
  height: 40px;
  color: var(--techguru-white);
  border: 1px solid rgba(var(--techguru-white-rgb), .2);
  z-index: 1;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.sidebar__client-social a:before {
  content: "";
  transform-origin: 100% 100%;
  z-index: -1;
  background: linear-gradient(270deg, #fa5674 0%, #6065d4 100%);
  transition: transform .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1, 0);
}

.sidebar__client-social a:hover:before {
  transform-origin: top;
  transform: scale(1);
}

.blog-details {
  z-index: 1;
  padding: 140px 0 0;
  display: block;
  position: relative;
}

.blog-details__shape-1 {
  z-index: -1;
  position: absolute;
  top: 17%;
  left: 0;
}

.blog-details__shape-1 img {
  width: auto;
}

.blog-details__left {
  margin-right: 107px;
  display: block;
  position: relative;
}

.blog-details__img {
  display: block;
  position: relative;
}

.blog-details__img img {
  border-radius: 40px;
  width: 100%;
}

.blog-details__single-content {
  background-color: rgba(var(--techguru-white-rgb), .1);
  border-radius: 40px;
  margin-top: 24px;
  padding: 24px 24px 22px 95px;
  display: block;
  position: relative;
}

.blog-details__single-content:before {
  content: "";
  background-color: rgba(var(--techguru-white-rgb), .1);
  width: 1px;
  position: absolute;
  top: 24px;
  bottom: 24px;
  left: 68px;
}

.blog-details__user {
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  display: flex;
  position: absolute;
  top: 84px;
  left: -39px;
  transform: rotate(90deg);
}

.blog-details__user-img {
  border-radius: 50%;
  width: 32px;
  display: block;
  position: relative;
  overflow: hidden;
  transform: rotate(-90deg);
}

.blog-details__user-img img {
  border-radius: 50%;
  width: 100%;
}

.blog-details__user-title {
  color: var(--techguru-white);
  font-size: 16px;
  font-weight: 500;
}

.blog-details__meta {
  align-items: center;
  margin-bottom: 15px;
  display: flex;
  position: relative;
}

.blog-details__meta li {
  display: block;
  position: relative;
}

.blog-details__meta li + li {
  margin-left: 26px;
}

.blog-details__meta li:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  background: linear-gradient(#3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all .5s;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: -13px;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-details__meta li:first-child:before {
  display: none;
}

.blog-details__meta li a {
  color: var(--techguru-gray);
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  transition: all .5s;
  display: flex;
  position: relative;
}

.blog-details__meta li a:hover {
  color: var(--techguru-base);
}

.blog-details__meta li a span {
  color: var(--techguru-base);
  margin-right: 6px;
  font-size: 14px;
  position: relative;
}

.blog-details__title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}

.blog-details__title a {
  color: var(--techguru-white);
}

.blog-details__title a:hover {
  color: var(--techguru-base);
}

.blog-details__content {
  margin-top: 65px;
  display: block;
  position: relative;
}

.blog-details__title-1 {
  color: var(--techguru-white);
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.blog-details__text-1 {
  margin: 35px 0 24px;
}

.blog-details__points {
  display: block;
  position: relative;
}

.blog-details__points li {
  align-items: flex-start;
  gap: 30px;
  display: flex;
  position: relative;
}

.blog-details__points li + li {
  margin-top: 20px;
}

.blog-details__points li .icon {
  display: inline-block;
  position: relative;
  top: 6px;
}

.blog-details__points li .icon span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 20px;
  display: inline-block;
  position: relative;
}

.blog-details__points li p span {
  font-weight: 700;
}

.blog-details__img-box {
  margin-top: 24px;
  display: block;
  position: relative;
}

.blog-details__img-box .row {
  --bs-gutter-x: 24px;
}

.blog-details__img-box-img {
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.blog-details__img-box-img img {
  border-radius: 16px;
  width: 100%;
}

.blog-details__title-2 {
  color: var(--techguru-white);
  margin: 35px 0 25px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.blog-details__author-box {
  z-index: 1;
  background: linear-gradient(270deg, rgba(250, 86, 116, .1) 0%, rgba(96, 101, 213, .1) 100%);
  border-radius: 20px;
  margin: 24px 0 65px;
  padding: 37px 50px 34px;
  display: block;
  position: relative;
}

.blog-details__author-box:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, #6065d4, #fa5674) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-details__author-name-box {
  align-items: center;
  gap: 6px;
  display: flex;
  position: relative;
}

.blog-details__author-name-box span {
  background-color: var(--techguru-white);
  width: 21px;
  height: 2px;
  display: block;
  position: relative;
}

.blog-details__author-name {
  color: var(--techguru-white);
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
}

.blog-details__author-text {
  color: var(--techguru-white);
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  font-family: var(--techguru-font-two);
  text-align: center;
  margin-top: 16px;
}

.blog-details__author-quote {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.blog-details__author-quote img {
  width: auto;
}

.blog-details__title-3 {
  color: var(--techguru-white);
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.blog-details__text-3 {
  margin: 25px 0 24px;
}

.blog-details__points-and-img {
  align-items: center;
  gap: 50px;
  display: flex;
  position: relative;
}

.blog-details__points-2, .blog-details__points-list-2 {
  display: block;
  position: relative;
}

.blog-details__points-list-2 li {
  align-items: center;
  gap: 15px;
  display: flex;
  position: relative;
}

.blog-details__points-list-2 li + li {
  margin-top: 20px;
}

.blog-details__points-list-2 li .icon {
  display: inline-block;
  position: relative;
}

.blog-details__points-list-2 li .icon > span {
  color: var(--techguru-base);
  font-size: 16px;
  display: inline-block;
  position: relative;
}

.blog-details__points-list-2 li p {
  color: var(--techguru-white);
  font-weight: 500;
}

.blog-details__points-img {
  width: 100%;
  max-width: 300px;
  display: block;
  position: relative;
}

.blog-details__points-img img {
  border-radius: 20px;
  width: 100%;
}

.blog-details__tag-and-share {
  border-bottom: 1px solid rgba(92, 176, 233, .2);
  justify-content: space-between;
  align-items: center;
  margin: 64px 0 65px;
  padding-bottom: 23px;
  display: flex;
  position: relative;
}

.blog-details__tag {
  align-items: center;
  gap: 17px;
  display: flex;
  position: relative;
}

.blog-details__tag-title {
  color: var(--techguru-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.blog-details__tag-list {
  align-items: center;
  gap: 8px;
  display: flex;
  position: relative;
}

.blog-details__tag-list li {
  display: block;
  position: relative;
}

.blog-details__tag-list li a {
  color: var(--techguru-gray);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  position: relative;
  overflow: hidden;
}

.blog-details__tag-list li a:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  z-index: -1;
  background: linear-gradient(-90deg, #5cb0e9, #3d72fc) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.blog-details__tag-list li a:after {
  content: "";
  opacity: 0;
  z-index: -1;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  border-radius: 8px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blog-details__tag-list li a:hover:after {
  opacity: 1;
}

.blog-details__tag-list li a:hover {
  color: var(--techguru-white);
}

.blog-details__share-box {
  align-items: center;
  gap: 20px;
  display: flex;
  position: relative;
}

.blog-details__share-title {
  color: var(--techguru-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.blog-details__share {
  align-items: center;
  gap: 20px;
  display: flex;
  position: relative;
}

.blog-details__share a {
  color: var(--techguru-white);
  font-size: 18px;
  display: inline-block;
  position: relative;
}

.blog-details__share a:hover {
  color: var(--techguru-base);
}

.blog-details__prev-and-next {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.blog-details__prev-box {
  align-items: center;
  gap: 12px;
  display: flex;
  position: relative;
}

.blog-details__prev-img {
  border-radius: 16px;
  width: 100%;
  max-width: 80px;
  display: block;
  position: relative;
}

.blog-details__prev-img img {
  border-radius: 16px;
  width: 100%;
}

.blog-details__prev-content {
  flex: 1;
  display: block;
  position: relative;
}

.blog-details__prev-arrow {
  align-items: center;
  gap: 10px;
  display: flex;
  position: relative;
}

.blog-details__prev-arrow a, .blog-details__prev-arrow span {
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #fa5674 0%, #6065d4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.blog-details__prev-title {
  color: var(--techguru-white);
  margin-top: 7px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.blog-details__next-box {
  align-items: center;
  gap: 12px;
  display: flex;
  position: relative;
}

.blog-details__next-img {
  border-radius: 16px;
  width: 100%;
  max-width: 80px;
  display: block;
  position: relative;
}

.blog-details__next-img img {
  border-radius: 16px;
  width: 100%;
}

.blog-details__next-content {
  text-align: right;
  flex: 1;
  display: block;
  position: relative;
}

.blog-details__next-arrow {
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  display: flex;
  position: relative;
}

.blog-details__next-arrow a, .blog-details__next-arrow span {
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #6065d4 0%, #fa5674 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.blog-details__next-title {
  color: var(--techguru-white);
  margin-top: 7px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.comment-one {
  margin-top: 129px;
  display: block;
  position: relative;
}

.comment-one__title {
  color: var(--techguru-white);
  margin-bottom: 48px;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
}

.comment-one__single-inner {
  background-color: rgba(var(--techguru-white-rgb), .1);
  z-index: 1;
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 27px 30px 25px;
  display: block;
  position: relative;
}

.comment-one__single-inner:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  background: linear-gradient(90deg, #3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.comment-one__single {
  align-items: flex-start;
  gap: 30px;
  display: flex;
  position: relative;
}

.comment-one__single-3 {
  border-top: 1px solid rgba(var(--techguru-white-rgb), .1);
  margin-top: 23px;
  padding-top: 28px;
}

.comment-one__author-inner {
  text-align: right;
  width: 100%;
  max-width: 150px;
  display: block;
  position: relative;
}

.comment-one__image {
  border-radius: 50%;
  width: 100%;
  max-width: 40px;
  margin-left: auto;
  display: block;
  position: relative;
}

.comment-one__image:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  background: linear-gradient(90deg, #5cb0e9, #3d72fc) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.comment-one__image img {
  border-radius: 50%;
  width: 100%;
  max-width: 40px;
}

.comment-one__author-inner h3 {
  color: var(--techguru-white);
  margin-top: 11px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.comment-one__author-inner span {
  color: var(--techguru-gray);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.comment-one__content {
  flex: 1;
  display: block;
  position: relative;
}

.comment-one__content p {
  margin-bottom: 16px;
  font-weight: 500;
}

.comment-one__btn-box {
  display: block;
  position: relative;
}

.comment-one__btn {
  color: var(--techguru-white);
  z-index: 1;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  border-radius: 15px;
  align-items: center;
  gap: 9px;
  padding: 3px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.comment-one__btn:hover {
  color: var(--techguru-white);
}

.comment-one__btn:before {
  content: "";
  opacity: 0;
  z-index: -1;
  background: linear-gradient(270deg, #6065d4 0%, #fa5674 100%);
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.comment-one__btn:hover:before {
  opacity: 1;
}

.comment-form {
  display: block;
  position: relative;
}

.comment-form .contact-one__left {
  background-color: rgba(var(--techguru-white-rgb), .1);
  box-shadow: none;
}

.contact-one__input-box:before {
  opacity: 0;
}

.contact-one__input-box:hover:before {
  opacity: 1;
}

.contact-one__input-box input[type="text"], .contact-one__input-box input[type="email"], .contact-one__input-box .nice-select, .contact-one__input-box textarea {
  border: 1px solid rgba(var(--techguru-white-rgb), .1);
}

.blog-carousel-page {
  padding: 140px 0;
  display: block;
  position: relative;
}

/*# sourceMappingURL=e714b_-2025-11-25-18-07-41-utc_techguru_public_assets_css_module-css_blog_css_bad6b30c._.single.css.map*/