/* [project]/public/assets/css/module-css/skill.css [app-client] (css) */
.skill-one {
  z-index: 1;
  background-color: #213152;
  padding: 140px 0;
  display: block;
  position: relative;
}

.skill-one__bg-shape {
  opacity: .4;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.skill-one__left {
  margin-right: 140px;
  display: block;
  position: relative;
}

.skill-one__title {
  color: var(--techguru-white);
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.skill-one__text {
  margin: 25px 0 48px;
  font-size: 16px;
  line-height: 24px;
}

.skill-one__progress-list {
  width: 100%;
  max-width: 520px;
  display: block;
  position: relative;
}

.skill-one__progress-list li {
  display: block;
  position: relative;
}

.skill-one__progress-list li + li {
  margin-top: 41px;
}

.skill-one__progress {
  display: block;
  position: relative;
}

.skill-one__progress-title {
  color: var(--techguru-white);
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.skill-one__progress .bar {
  z-index: 1;
  border-radius: 4px;
  width: 100%;
  height: 7px;
  position: relative;
}

.skill-one__progress .bar:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  z-index: -1;
  background: linear-gradient(90deg, #8f88ff, #5cb0e9) border-box;
  border: .5px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.skill-one__progress .bar-inner {
  -o-transition: all 1.5s ease;
  z-index: 1;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  border-radius: 4px;
  width: 0;
  height: 7px;
  transition: all 1.5s;
  display: block;
  position: relative;
}

.skill-one__progress .bar-inner:before {
  content: "";
  z-index: 1;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translateY(-50%);
}

.skill-one__progress .count-text {
  color: var(--techguru-white);
  text-align: center;
  -o-transition: all .5s ease;
  font-size: 18px;
  font-weight: 500;
  transition: all .5s;
  position: absolute;
  bottom: 18px;
  right: 0;
}

.skill-one__progress .bar.marb-0 {
  margin-bottom: 0;
}

.skill-one__right, .skill-one__img {
  display: block;
  position: relative;
}

.skill-one__img img {
  border-radius: 40px;
  width: 100%;
}

/*# sourceMappingURL=public_assets_css_module-css_skill_css_bad6b30c._.single.css.map*/