/* [project]/public/assets/css/module-css/team.css [app-client] (css) */
.team-one {
  background-color: var(--techguru-black);
  z-index: 1;
  padding: 140px 0 40px;
  display: block;
  position: relative;
  overflow: hidden;
}

.team-one__shape-1 {
  z-index: -1;
  position: absolute;
  top: 230px;
  left: 145px;
}

.team-one__shape-1 img {
  width: auto;
}

.team-one__shape-2 {
  opacity: .3;
  filter: blur(120px);
  z-index: -1;
  background: radial-gradient(50% 50%, #6669d8 0%, rgba(7, 12, 20, 0) 100%);
  position: absolute;
  top: -17.67%;
  bottom: 19.25%;
  left: -13.8%;
  right: 63.7%;
}

.team-one__shape-3 {
  mix-blend-mode: screen;
  opacity: .1;
  z-index: -1;
  position: absolute;
  top: 140px;
  left: 0;
}

.team-one__shape-3 img {
  width: auto;
}

.team-one__shape-4 {
  filter: blur(120px);
  opacity: .7;
  z-index: -1;
  background: radial-gradient(50% 50%, rgba(250, 86, 116, .33) 0%, rgba(7, 12, 20, 0) 100%);
  width: 665px;
  height: 695px;
  position: absolute;
  bottom: 50px;
  right: -170px;
}

.team-one__shape-5 {
  mix-blend-mode: screen;
  opacity: .1;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

.team-one__shape-5 img {
  width: auto;
}

.team-one:before {
  content: "";
  background-color: rgba(var(--techguru-white-rgb), .05);
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.team-one__carousel {
  display: block;
  position: relative;
}

.team-one__single {
  margin-bottom: 22px;
  display: block;
  position: relative;
}

.team-one__img-box {
  display: block;
  position: relative;
}

.team-one__img {
  border-radius: 40px;
  display: block;
  position: relative;
  overflow: hidden;
}

.team-one__img img {
  border-radius: 40px;
  width: 100%;
  transition: all 1.5s;
  transform: scale(1);
}

.team-one__single:hover .team-one__img img {
  transform: scale(1.05)rotate(0);
}

.team-one__content {
  align-items: center;
  gap: 20px;
  padding-top: 17px;
  padding-left: 12px;
  display: flex;
  position: relative;
}

.team-one__arrow {
  display: block;
  position: relative;
}

.team-one__arrow a {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  display: flex;
  position: relative;
}

.team-one__arrow a:after {
  content: "";
  opacity: 0;
  z-index: -1;
  background: linear-gradient(270deg, #fa5674 0%, #6065d4 100%);
  border-radius: 12px;
  transition: all .4s linear;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(.7)rotateX(20deg);
}

.team-one__arrow a:hover:after {
  opacity: 1;
  transition: all .4s linear;
  transform: scaleX(1)rotateX(0);
}

.team-one__arrow a span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.team-one__arrow a:hover span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #fff 0%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.team-one__arrow a:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, #3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.team-one__arrow a:hover:before {
  opacity: 0;
}

.team-one__title-box {
  display: block;
  position: relative;
}

.team-one__sub-title {
  align-items: center;
  gap: 10px;
  font-size: 16px;
  display: flex;
  position: relative;
}

.team-one__sub-title span {
  background-color: var(--techguru-base);
  border-radius: 2px;
  width: 4px;
  height: 4px;
  display: block;
  position: relative;
}

.team-one__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}

.team-one__title a {
  color: var(--techguru-white);
}

.team-one__title a:hover {
  color: var(--techguru-base);
}

.team-one__social-box-inner {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
}

.team-one__social-box {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  opacity: 0;
  background: rgba(0, 0, 0, .6);
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  width: 200px;
  height: 200px;
  transition: all .7s;
  display: flex;
  position: relative;
  transform: translateY(50px);
}

.team-one__single:hover .team-one__social-box {
  opacity: 1;
  transform: translateY(0);
}

.team-one__social {
  align-items: center;
  gap: 16px;
  display: flex;
  position: relative;
}

.team-one__social a {
  color: var(--techguru-white);
  font-size: 28px;
  display: inline-block;
  position: relative;
}

.team-one__social a:hover {
  color: var(--techguru-base);
}

.team-one__carousel .swiper-pagination {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  margin: 56px auto 0 !important;
}

.team-one__carousel .swiper-pagination .swiper-pagination-bullet {
  z-index: 1;
  opacity: 1;
  background: linear-gradient(270deg, rgba(250, 86, 116, .2), rgba(96, 101, 212, .2));
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  transition: all .1s linear .1s;
  display: inline-block;
  position: relative;
}

.team-one__carousel .swiper-pagination .swiper-pagination-bullet:after {
  content: "";
  background-color: var(--techguru-base);
  z-index: -1;
  border-radius: 50%;
  transition: all .2s linear .1s;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  transform: scaleX(0);
}

.team-one__carousel .swiper-pagination .swiper-pagination-bullet-active:after {
  transform: scaleX(1);
}

.team-two {
  background-color: var(--techguru-black);
  z-index: 1;
  padding: 140px 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.team-two:before {
  content: "";
  background-color: rgba(var(--techguru-white-rgb), .05);
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.team-two__bg-shape {
  opacity: .2;
  z-index: -1;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 491px;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
}

.team-two__shape-1 {
  opacity: .4;
  filter: blur(120px);
  z-index: -1;
  background: radial-gradient(50% 50%, rgba(102, 105, 216, .43) 0%, rgba(7, 12, 20, 0) 100%);
  position: absolute;
  top: -73.8%;
  bottom: -59.72%;
  left: -24.48%;
  right: 33.87%;
}

.team-two__left {
  display: block;
  position: relative;
}

.team-two__left .section-title {
  margin-bottom: 24px;
}

.team-two__left .section-title__title {
  margin-right: -100px;
}

.team-two__right {
  margin-right: -550px;
  display: block;
  position: relative;
}

.team-two__carousel {
  display: block;
  position: relative;
}

.team-two__single {
  border-radius: 20px;
  display: block;
  position: relative;
}

.team-two__img-box {
  display: block;
  position: relative;
}

.team-two__img {
  z-index: 1;
  border-radius: 20px;
  display: block;
  position: relative;
  overflow: hidden;
}

.team-two__img:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(90deg, #8f88ff, #6073d4) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.team-two__single:hover .team-two__img:before {
  opacity: 1;
}

.team-two__img img {
  border-radius: 20px;
  width: 100%;
  transition: all 1.5s;
  transform: scale(1);
}

.team-two__single:hover .team-two__img img {
  transform: scale(1.05)rotate(0);
}

.team-two__social {
  z-index: 2;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  display: flex;
  position: absolute;
  top: 25px;
  left: 25px;
}

.team-two__social a {
  color: var(--techguru-gray);
  align-items: center;
  font-size: 20px;
  display: flex;
  position: relative;
}

.team-two__social a:hover {
  color: var(--techguru-base);
}

.team-two__title-box {
  z-index: 1;
  position: absolute;
  bottom: 18px;
  left: 25px;
}

.team-two__title-box h3 {
  text-transform: capitalize;
  margin-bottom: 1px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

.team-two__title-box h3 a {
  color: var(--techguru-white);
}

.team-two__title-box h3 a:hover {
  color: var(--techguru-base);
}

.team-two__carousel .owl-nav {
  position: absolute;
  bottom: 10px;
  left: -555px;
  margin: 0 !important;
}

.team-two__carousel .owl-nav .owl-next {
  z-index: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  width: 44px;
  height: 44px;
  margin: 0;
  font-size: 20px;
  line-height: 44px;
  transition: all .5s;
  display: inline-block;
  position: relative;
}

.team-two__carousel .owl-nav .owl-next:after {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, #3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.team-two__carousel .owl-nav .owl-prev {
  z-index: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  width: 44px;
  height: 44px;
  margin: 0;
  font-size: 20px;
  line-height: 44px;
  transition: all .5s;
  display: inline-block;
  position: relative;
}

.team-two__carousel .owl-nav .owl-prev:after {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(90deg, #3d72fc, #5cb0e9) border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.team-two__carousel .owl-nav .owl-next {
  margin-left: 5px;
}

.team-two__carousel .owl-nav .owl-prev {
  margin-right: 5px;
}

.team-two__carousel .owl-nav .owl-next span, .team-two__carousel .owl-nav .owl-prev span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  display: flex;
  position: relative;
  top: 12px;
}

.team-two__carousel .owl-nav .owl-next:hover span, .team-two__carousel .owl-nav .owl-prev:hover span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #fff 0%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.team-two__carousel .owl-nav .owl-prev span {
  transform: rotateY(180deg);
}

.team-two__carousel .owl-nav .owl-next:hover, .team-two__carousel .owl-nav .owl-prev:hover {
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
}

.team-page {
  z-index: 1;
  padding: 140px 0 0;
  display: block;
  position: relative;
}

.team-page__shape-1 {
  z-index: -1;
  position: absolute;
  top: -70px;
  left: 0;
}

.team-page__shape-1 img {
  width: auto;
}

.team-details {
  z-index: 1;
  padding: 140px 0;
  display: block;
  position: relative;
}

.team-details__left {
  margin-right: 130px;
  display: block;
  position: relative;
}

.team-details__img-box {
  display: block;
  position: relative;
}

.team-details__img-box:before {
  content: "";
  -webkit-mask-composite: xor;
  -o-transition: all .5s ease;
  background: linear-gradient(90deg, #3d72fc, #5cb0e9) border-box;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 26px;
  transition: all .5s;
  position: absolute;
  top: 12px;
  bottom: -12px;
  left: 12px;
  right: -12px;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  -webkit-mask-clip: padding-box, border-box;
  -webkit-mask-origin: padding-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.team-details__img {
  display: block;
  position: relative;
}

.team-details__img img {
  border-radius: 20px;
  width: 100%;
}

.team-details__experience-box {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 1;
  background: linear-gradient(270deg, rgba(92, 176, 233, .8) 0%, rgba(61, 114, 252, .8) 100%);
  border-radius: 16px;
  width: 100%;
  max-width: 190px;
  padding: 25px 15px 18px;
  position: absolute;
  bottom: 140px;
  right: -87px;
}

.team-details__experience-icon {
  display: inline-block;
  position: relative;
}

.team-details__experience-icon img {
  width: auto;
}

.team-details__experience-title {
  color: var(--techguru-white);
  margin: 14px 0 7px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.team-details__experience-text {
  color: var(--techguru-white);
  font-weight: 500;
}

.team-details__right {
  margin-top: 19px;
  display: block;
  position: relative;
}

.team-details__title {
  color: var(--techguru-white);
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.team-details__sub-title {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  margin: 10px 0 39px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}

.team-details__text {
  font-size: 16px;
  line-height: 24px;
}

.team-details__points-box {
  align-items: flex-start;
  gap: 70px;
  margin: 34px 0 39px;
  display: flex;
  position: relative;
}

.team-details__points {
  display: block;
  position: relative;
}

.team-details__points li {
  align-items: flex-start;
  gap: 15px;
  display: flex;
  position: relative;
}

.team-details__points li + li {
  margin-top: 18px;
}

.team-details__points li .icon {
  z-index: 1;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  display: flex;
  position: relative;
  top: 5px;
  overflow: hidden;
}

.team-details__points li .icon:before {
  content: "";
  z-index: -1;
  background: linear-gradient(270deg, #fa5674 0%, #6065d4 100%);
  border-radius: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.team-details__points li .icon:after {
  content: "";
  opacity: 0;
  z-index: -1;
  background: linear-gradient(270deg, #5cb0e9 0%, #3d72fc 100%);
  border-radius: 12px;
  transition: all .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.team-details__points li:hover .icon:after {
  opacity: 1;
}

.team-details__points li .icon span {
  color: var(--techguru-white);
  font-size: 22px;
  display: inline-block;
  position: relative;
}

.team-details__points li .content {
  flex: 1;
  display: block;
  position: relative;
}

.team-details__points li .content h5 {
  color: var(--techguru-white);
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.team-details__points li .content p {
  color: var(--techguru-gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.team-details__points li .content p a {
  color: var(--techguru-gray);
}

.team-details__points li .content p a:hover {
  color: var(--techguru-base);
}

.team-details__social-box {
  background-color: rgba(var(--techguru-white-rgb), .1);
  border-radius: 20px;
  align-items: center;
  gap: 17px;
  padding: 20px 24px;
  display: inline-flex;
  position: relative;
}

.team-details__social-box p {
  color: var(--techguru-base);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.team-details__social-list {
  align-items: center;
  gap: 16px;
  display: flex;
  position: relative;
}

.team-details__social-list a {
  border: 1px solid rgba(var(--techguru-white-rgb), .2);
  width: 40px;
  height: 40px;
  color: var(--techguru-white);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  display: flex;
  position: relative;
}

.team-details__social-list a:hover {
  color: var(--techguru-black);
  background-color: var(--techguru-base);
}

.team-carousel-page {
  padding: 140px 0;
  display: block;
  position: relative;
}

.team-carousel-page .team-one__single {
  margin-bottom: 0;
}

/*# sourceMappingURL=public_assets_css_module-css_team_css_bad6b30c._.single.css.map*/